# images
inputs/*
inputs_trim/*
inputs_re/*
outputs/*
piv_out/*

# area_data
area_data/*

# data
*.tif
*.png
*.csv
*.txt
*.xml

# openpiv
openpiv-python

# test-code
modules/temp.py
test.py

# .vscode
.vscode

# __pycache__
*.pyc

# .DS_Store
*/.DS_Store
.DS_Store
