# images
inputs/*
outputs/*
outputs_koyaura/*

# area_data
area_data/*

# data
*.tif
*.png
*.csv
*.txt
*.xml
*.icloud

# openpiv
openpiv-python

# test-code
modules/temp.py
modules/delete/*
app_test.py
app_dem.py
test.py
test_chatgpt/*

# .vscode
.vscode

# __pycache__
*.pyc

# .DS_Store
*/.DS_Store
.DS_Store
